//Variables
$blueColor: #0e32d4;
$yellowColor:#e9ec13;
$greenColor:#0b920b;
$redColor: #c40d0d;


$btnColors: (
    blue-one: $blueColor,
    yellow-one: $yellowColor,
    green-one: $greenColor,
    red-one: $redColor,
);

$bgColors: (
    success: ligthen($greenColor, 50),
    info: ligthen($blueColor, 50),
    warning: ligthen($blueColor, 50),
    danger: ligthen($redColor, 50),
    dark: ligthen($blueColor, 50)
);
