//Variables
$blueColor: #0e32d4;
$yellowColor:#e9ec13;
$greenColor:#0b920b;
$redColor: #c40d0d;


$btnColors: (
    blue-one: $blueColor,
    yellow-one: $yellowColor,
    green-one: $greenColor,
    red-one: $redColor,
);

$bgColors: (
    success: lighten($greenColor, 50),
    info: lighten($blueColor, 30),
    warning: lighten($yellowColor, 20),
    danger: lighten($redColor, 50),
    dark: lighten($blueColor, 50)
);
