//Variables
$colombiaColor: #ece814;
$peruColor: #a80808;
$argentinaColor: #0890a8;
$chileColor: #1331dd;


$argentina: (
    inputBorderColor: $argentinaColor,
    bgColor: lighten($argentinaColor, 40),
    size: 1,
);

$chile: (
    inputBorderColor: $chileColor,
    bgColor: lighten($chileColor, 30),
    size: 1.2,
);

$colombia: (
    inputBorderColor: $colombiaColor,
    bgColor: lighten($colombiaColor, 20),
    size: 1.3,
);

$peru: (
    inputBorderColor: $peruColor,
    bgColor: lighten($peruColor, 40),
    size: 1.4,
);



$btnColors: (
    btn-colombia: $colombiaColor,
    btn-peru: $peruColor,
    btn-argentina: $argentinaColor,
    btn-chile: $chileColor,
);

// $bgColors: (
//     bgColombia: lighten($colombiaColor, 65),
//     bgPeru: lighten($peruColor, 45),
//     bgArgentina: lighten($argentinaColor, 45),
//     bgChile: lighten($chileColor, 55)
// );


