@import 'variables';
@import 'mixins';


//Styling dynamic colors for the background 
.chile {
	@include country(lighten($chileColor, 10));
}
.colombia {
	@include country($colombiaColor);
}
.argentina {
	@include country($argentinaColor);
}
.peru {
	@include country($peruColor);
}


// @each $name, $val in $bgColors {
	
// 	.chile-#{$name}{
// 		@include country($val)
		
// 	}   
// }

//Setting a border color to each classname 
// .custom-border {
// 	&colombia{
// 		@include inputsField($colombiaColor);
// 	}
// 	&peru {
// 		@include inputsField($peruColor);   
// 	}
// 	&argentina {
// 		@include inputsField($argentinaColor);
// 	}
// 	&chile {
// 		@include inputsField($chileColor);
// 	}
// }

//styling buttons colors
@each $name, $value in $btnColors {
	.#{$name}{
		border: 1px solid $value;
		color: #000000;
		&:hover {
			background-color: $value;
			color: #000000 !important;
			border: none;
		}
	}
}
