@import 'variables';
@import 'mixins';

body {
	background-color: lighten($greenColor, 50)
}

.custom-border {
	&green{
		@include inputsField($greenColor, 200px, 30px);
	}
	&red {
		@include inputsField($redColor, 500px, 50px);	
	}
	&blue {
		@include inputsField($blueColor, 400px, 40px);
	}
	&yellow {
        @include inputsField($yellowColor, 100px, 30px);    
    }
}


@each $name, $value in $btnColors {
	.btn-#{$name}{
		border: 1px solid $value;
		color: #000000;
		&:hover {
			background-color: $value;
			color: #000000 !important;
			border: none;
		}
	}
}
