@import 'variables';
@import 'mixins';


.argentina {
	@include country(map-get($argentina, bgColor));

	.custom-input {
		@include inputsField(map-get($argentina, inputBorderColor),
							 map-get($argentina, size))
	}
}

.chile {
	@include country(map-get($chile, bgColor));

	.custom-input {
		@include inputsField(map-get($chile, inputBorderColor),
							 map-get($chile, size))
	}
}

.colombia {
	@include country(map-get($colombia, bgColor));

	.custom-input {
		@include inputsField(map-get($colombia, inputBorderColor),
							 map-get($colombia, size))
	}
}

.peru {
	@include country(map-get($peru, bgColor));

	.custom-input {
		@include inputsField(map-get($peru, inputBorderColor),
							 map-get($peru, size))
	}
}


//styling buttons colors
@each $name, $value in $btnColors {
	.#{$name}{
		border: 1px solid $value;
		color: #000000;
		&:hover {
			background-color: lighten($value, 10);
			color: #000000 !important;
			border: none;
			box-shadow: 2px 2px 5px #2e2d2c;
		}
	}
}
